<h1>Selection #<%= @selection.id %></h1>

<dl>
  <dt>Card</dt>
  <dd><%= @selection.card_id %></dd>

  <dt>Draft</dt>
  <dd><%= @selection.draft_id %></dd>

  <dt>Is sideboard</dt>
  <dd><%= @selection.is_sideboard? %></dd>

</dl>
