<h1>Card Search</h1>

<p><%= link_to 'Add a New Card', new_card_url %></p>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Multiverse</th>
      <th>Is planeswalker</th>
      <th>Is land</th>
      <th>Is enchantment</th>
      <th>Is artifact</th>
      <th>Is sorcery</th>
      <th>Is instant</th>
      <th>Is creature</th>
      <th>Is colorless</th>
      <th>Is blue</th>
      <th>Is white</th>
      <th>Is red</th>
      <th>Is black</th>
      <th>Is green</th>
      <th>Cmc</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

</table>
