<div class="centertitle">
  <h1>Card Search</h1>
</div>

<tbody>
  <% if @hasResults  %>
  <% @mtgcards.each do |mtgcard| %>
  <tr>
    <%= link_to :controller => "cards", :action => "add", :card_id => mtgcard.multiverse_id do %>
    <%= image_tag(mtgcard.image_url) %>
    <% end %>
  </tr>
  <% end %>
  <% else %>
  <tr>
    <img height="200" src="/assets/NoResults.png"/>
  </tr>
  <% end %>
</tbody>

<form action="/cards/search" method="get">
  <input type="text" name="q">
  <input type="submit" value="Search">
</form>
