<table class="homelayout">
  <tr>
    <td class="homeleft">
      <div class="hometop">

      </div>
      <div class="homebottom">

      </div>
    </td>

    <td class="homeright">
      <div class="homeside">

      </div>
    </td>
  </tr>
</table>
